@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-red: #ff0000;
  --color-grey-3: #6c7983;
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #F56692;
  --color-white: #000;
  --color-black: #cccfd1e8;
  --color-grey0: #f8f8f8;
  --color-grey-3: #6c7983;
  --color-red: #ec75e8;
}

.theme-btn {
  top: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  color: var(--color-white);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in-out;
}
.theme-btn:active {
  transform: translateY(-5px);
}
.theme-btn i {
  font-size: 1.4rem;
  color: var(--color-gray-2);
  pointer-events: none;
}

body {
  margin-top: auto;
  background-color: var(--color-primary);
  transition: all 0.6s ease-in;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-secondary);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.container .input-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
}
.container .input-container input, .container .input-container button {
  border: none;
  outline: none;
  padding: 12px;
  margin-block: 12px;
  border-radius: 10px;
  font-size: 16px;
}
.container .input-container input {
  width: 70%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
.container .input-container ::-moz-placeholder {
  color: var(--color-secondary);
}
.container .input-container ::placeholder {
  color: var(--color-secondary);
}
.container .input-container ::cursor {
  color: var(--color-secondary);
}
.container .input-container button {
  width: 30%;
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-weight: 700;
  margin-left: 8px;
  cursor: pointer;
  padding: 12px 24px;
}
.container .input-container button:hover {
  background-color: var(--color-primary);
  transition: all 0.4s ease-in-out;
}
.container ul {
  width: 100%;
  min-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container ul li {
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  width: 450px;
  list-style: none;
  cursor: pointer;
  border: 0.125px solid var(--color-grey-0);
  padding: 6px 12px;
  background-color: var(--color-white);
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.5s ease-in-out;
}
.container ul li:hover {
  background-color: var(--color-grey-3);
}
.container ul li p {
  flex-grow: 1;
  color: var(--color-black);
  padding: 2px;
}
.container ul li .erBtn {
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
}
.container ul li .deleteBtn {
  color: var(--color-red);
}
.container ul li .editBtn {
  color: var(--color-secondary);
}/*# sourceMappingURL=style.css.map */